<template>
    <v-container>
        <v-layout>
            <v-flex xs3>
                <number-sheet :value="dashboardInfo.robots" :title="'Number of robots'" :icon="'fa-robot'"></number-sheet>
            </v-flex>
            <v-flex xs3>
                <number-sheet :value="dashboardInfo.auto_now" :title="'Robots in automatic mode'" :icon="'settings'"></number-sheet>
            </v-flex>
            <v-flex xs3>
                <number-sheet :value="dashboardInfo.manual_now" :title="'Robots in manual mode'" :icon="'fa-hand-paper'"></number-sheet>
            </v-flex>
            <v-flex xs3>
                <number-sheet :value="dashboardInfo.connected_now" :title="'Robots connected'" :icon="'fa-plug'"></number-sheet>
            </v-flex>
        </v-layout>
        <v-layout row wrap style="margin-top: 50px;">
            <v-flex xs4>
                <data-graph
                    :title="'Robot activations/day'"
                    :labels="dashboardInfo.state_day.labels"
                    :values="dashboardInfo.state_day.values"
                    :graphColor="'#039be5'"
                ></data-graph>
            </v-flex>

            <v-flex xs4>
                <data-graph
                    :title="'Robot connections/day'"
                    :labels="dashboardInfo.online_day.labels"
                    :values="dashboardInfo.online_day.values"
                    :graphColor="'#2e7d32'"
                ></data-graph>
            </v-flex>

            <v-flex xs4>
                <data-graph
                    :title="'Robots in manual control/day'"
                    :labels="dashboardInfo.manual_day.labels"
                    :values="dashboardInfo.manual_day.values"
                    :graphColor="'#ef9a9a'"
                ></data-graph>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import GraphComp from "./GraphSheet";
import NumberComp from "./NumberSheet";

import { setTimeout, clearTimeout } from "timers";

export default {
    name: "Dashboard",
    components: {
        "data-graph": GraphComp,
        "number-sheet": NumberComp
    },
    data() {
        return {
            dashboardInfo: {
                state_day: {},
                online_day: {},
                manual_day: {},
                auto_now: 0,
                robots: 0,
                manual_now: 0,
                connected_now: 0
            }
        };
    },
    sockets: {
        "dashboard:update:response"(response) {
            if (response.code == 200) {
                this.parseStatistics(response.data);
            }
        },
        "update"() {
            console.log("Asking for updates");
            this.getUpdates();
        }
    },
    mounted() {
        this.getUpdates();
    },
    methods: {
        parseStatistics(data) {
            this.dashboardInfo.auto_now = data.auto_now;
            this.dashboardInfo.robots = data.robots;
            this.dashboardInfo.manual_now = data.manual_now;
            this.dashboardInfo.connected_now = data.connected_now;

            this.dashboardInfo.state_day["labels"] = this.to1DArray(
                data.state_day.rows,
                "created_at"
            );
            this.dashboardInfo.state_day["values"] = this.to1DArray(
                data.state_day.count,
                "count"
            );

            this.dashboardInfo.online_day["labels"] = this.to1DArray(
                data.online_day.rows,
                "created_at"
            );
            this.dashboardInfo.online_day["values"] = this.to1DArray(
                data.online_day.count,
                "count"
            );

            this.dashboardInfo.manual_day["labels"] = this.to1DArray(
                data.manual_day.rows,
                "created_at"
            );
            this.dashboardInfo.manual_day["values"] = this.to1DArray(
                data.manual_day.count,
                "count"
            );
        },
        getUpdates() {
            this.$socket.emit("dashboard:update");
        },
        to1DArray(arr, attr) {
            let result = [];
            for (let item of arr) {
                if (attr === "created_at") {
                    let date = new Date(item[attr]);

                    result.push(
                        date.getDate() +
                            "-" +
                            (date.getMonth() + 1) +
                            "-" +
                            date.getFullYear()
                    );
                } else {
                    result.push(item[attr]);
                }
            }
            return result;
        }
    }
};
</script>
