<template>
    <v-card class="mt-3" style="margin-left:10px;">
        <v-sheet
            class="v-sheet--offset mx-auto"
            elevation="12"
            max-width="calc(100% - 32px)"
        >
            <line-chart :chart-data="prepareData()" :color="graphColor"></line-chart>
            <!--<v-sparkline :labels="labels" :value="values" color="white" line-width="2" padding="16"></v-sparkline>-->
        </v-sheet>

        <v-card-text class="pt-0">
            <div class="title font-weight-light mb-2">{{ title }}</div>
            <div class="subheading font-weight-light grey--text">{{ subtitle }}</div>
            <v-divider class="my-2"></v-divider>
        </v-card-text>
    </v-card>
</template>

<script>
import LineChart from "./charts/LineChart.js";

export default {
    components: {
        "line-chart": LineChart
    },
    props: {
        title: {
            required: true
        },
        subtitle: { required: false },
        undertext: { required: false },
        labels: { required: true },
        values: { required: true },
        graphColor: { required: false}
    },
    data: () => ({
        datacollection: {}
    }),
    methods: {
        prepareData() {
            let data = {
                labels: this.labels,
                datasets: [
                    {
                        label: this.title,
                        data: this.values,
                        backgroundColor: this.graphColor,
                        pointBackgroundColor: 'white'
                    }
                ]
            };
            return data;
        }
    }
};
</script>

<style>
.v-sheet--offset {
    top: -24px;
    position: relative;
}
</style>
