<template>
    <v-card class="mx-auto" max-width="200">
        <v-card-title>
            <img src="../../assets/robot.svg" alt="Robot image" style="margin-left: auto;margin-right: auto; margin-bottom: 10px;">
            <v-layout column align-start>
                <div class="caption text-uppercase" style="margin-left: auto;margin-right: auto;">{{ title }}</div>
                <div style="margin-left: auto;margin-right: auto;">
                    <v-icon style="margin-bottom: 3px;">{{ icon }}</v-icon>
                    <span class="display-1 font-weight-black" v-text="value"></span>
                </div>
            </v-layout>
        </v-card-title>
    </v-card>
</template>

<script>
export default {
    props: {
        title: {
            required: true
        },
        value: { required: true },
        icon: { required: true }
    },
    data: () => ({})
};
</script>

<style>
.v-sheet--offset {
    top: -24px;
    position: relative;
}
</style>
