<template>
    <v-app dark id="inspire">
        <v-nav-bar :isAuthenticated="isAuthenticated"></v-nav-bar>
        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
import NavBar from "@/components/NavBar";
import Dashboard from "@/components/dashboard/Dashboard";
import ManualControl from "@/components/robot/ManualControl";
import LinkRobot from "@/components/robot/LinkRobot";

export default {
    name: "App",
    components: {
        "v-nav-bar": NavBar,
        "v-manual-control": ManualControl,
        "v-dashboard": Dashboard,
        "v-link-robot": LinkRobot
    },
    computed: {
        isAuthenticated() {
            return this.$root.isAuthenticated;
        }
    }
};
</script>