<template>
	<v-dialog v-model="show" width="1000" dark persistent>
		<v-alert
			:value="flashMessage != ''"
			type="error"
			transition="scale-transition"
			dismissible
		>
			{{ flashMessage }}
		</v-alert>
		<v-btn fab slot="activator">
			<v-icon>add</v-icon>
		</v-btn>
		<v-card xs6>
			<v-card-title primary-title>
				<div class="headline">Add new robot</div>
			</v-card-title>
			<v-card-text>
				<v-form v-model="isValid" ref="form">
					<v-text-field v-model="mac" :rules="macRules" label="Robot mac address" required></v-text-field>
					<v-btn :disabled="!isValid" @click="submit">Submit</v-btn>
					<v-btn @click="clearAndClose">Cancel</v-btn>
				</v-form>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
	export default {
		name: "AddRobot",
		data() {
			return {
				show: false,
				isValid: false,
				mac: '',
				macRules: [
					v => !!v || "Robot mac address is required",
					v => /..:.+:..:..:..:../ .test(v) || "Invalid mac address"
				],
				flashMessage: ''
			};
		},
		sockets: {
			"user:AddRobot:response": function(response) {
				console.log("got response")
				if (response.code == 200) {
					console.log("TODO: Flash success message");
					this.clearAndClose();
				} else {
					console.log("TODO: Flash error message")
					console.log(response)
					this.flashMessage = response.data.message;
				}
			}
		},
		methods: {
			submit() {
				if (this.$refs.form.validate()) {
					console.log("emiting");
					this.$socket.emit("user:addRobot", { mac: this.mac});
				}
			},
			clearAndClose() {
				this.show = false;
				this.$refs.form.reset();
			}
		}
	};
</script>
