<template>
    <div style="text-align: center;">
        <picture-input
                v-if="!label"
                ref="pictureInput"
                width="150"
                height="150"
                margin="16"
                accept="image/jpeg, image/png"
                size="10"
                button-class="btn"
                @change="newFile"
        ></picture-input>
        <v-btn flat v-else @click="label = ''">
            {{ label }} &nbsp;
            <v-icon>border_color</v-icon>
        </v-btn>
    </div>
</template>

<script>
 import PictureInput from 'vue-picture-input';

 export default {
  name: 'FileDrop',
  props: ['robot'],
  components: {
   PictureInput
  },
  data()
  {
   return {
    label: '',
    selectedRobot: false

   };
  },
  methods: {
   newFile(image)
   {
    console.log('New picture selected!');
    if(image)
    {
     console.log('Picture loaded.');
     //console.log(image);
     let data = image.split(',')[1];
     let binaryBlob = atob(data);
     this.selectedRobot = true;
     this.$socket.emit('user:target', binaryBlob, (response)=>{
      if(!this.selectedRobot)
      {
       return;
      }
      this.selectedRobot = false;
      if(response.code == 200)
      {
       this.label = response.data.label;
       if(this.label)
       {
        this.$socket.emit('user:set:target', {
         robotId: this.robot.id,
         label: this.label
        });
       }
       else
       {
        console.log('TODO: Flash this error');
        this.label = 'No object found';
       }
      }
      else
      {
       console.log('Error on detection');
      }
     });
    }
    else
    {
     console.log(
      'FileReader API not supported: use the <form>, Luke!'
     );
    }
   }
  }
 };
</script>
