<template>
    <div>
        <robot-list>
            <template slot="control-robot" slot-scope="{robotItem}">
                <v-btn
                        color="success"
                        v-if="!robotItem.inManualControl"
                        @click="robotChoosed(robotItem)"
                >Control
                    <v-icon>arrow_forward</v-icon>
                </v-btn>
                <v-btn v-else color="error">Occupied
                    <v-icon>not_interested</v-icon>
                </v-btn>
            </template>
        </robot-list>
        <add-robot style="float:right;"></add-robot>
    </div>
</template>
<script>
 import RobotList from './RobotList';
 import AddRobot from './AddRobotModal';

 export default {
  name: 'linkRobot',
  components: {
   'robot-list': RobotList,
   'add-robot': AddRobot
  },
  data()
  {
   return {};
  },
  props: [],
  methods: {
   robotChoosed(item)
   {
    this.$root.robot = item;
    this.$router.push({path: '/manual-control'});
   }
  }
 };
</script>

<style scoped>
</style>
