<template>
    <div>
        <div v-if="!isAnyRobotOnControl">
            <robot-list>
                <template slot="control-robot" slot-scope="{robotItem}">
                    <v-btn color="success" v-if="!robotItem.inManualControl" @click="cellClicked(robotItem)">Control
                        <v-icon>arrow_forward</v-icon>
                    </v-btn>
                    <v-btn v-else color="error">Occupied
                        <v-icon>not_interested</v-icon>
                    </v-btn>
                </template>
            </robot-list>
        </div>
        <v-fade-transition v-if="isAnyRobotOnControl">
            <v-container>
                <v-layout column wrap justify-center>
                    <v-flex xs7 align-self-center>
                        <v-icon id="videoIcon" v-if="videoImage == null">videocam_off</v-icon>
                        <img id="videoImage" v-else :src="videoImage"/>
                    </v-flex>
                    <v-flex xs1>
                        <v-divider></v-divider>
                        <br></v-flex>
                    <v-flex xs4>
                        <v-layout row justify-center>
                            <v-flex xs1 offset-xs1>
                                <v-btn id="forward" fab @mouseup="this.onUp" @mousedown="this.onDown"
                                       :light="directionButton.forward">
                                    <v-icon>keyboard_arrow_up</v-icon>
                                </v-btn>
                            </v-flex>

                            <v-flex xs1 offset-xs2>
                                <v-btn id="open_claw" fab @click="click">
                                    O
                                </v-btn>
                            </v-flex>

                            <v-flex xs1 offset-xs1>
                                <v-btn id="arm_open" fab @click="click">
                                    S
                                </v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout row justify-center>
                            <v-flex xs1>
                                <v-btn id="left" fab @mouseup="this.onUp" @mousedown="this.onDown"
                                       :light="directionButton.left">
                                    <v-icon>keyboard_arrow_left</v-icon>
                                </v-btn>
                            </v-flex>
                            <v-flex xs1>
                                <v-btn id="backward" fab @mouseup="this.onUp" @mousedown="this.onDown"
                                       :light="directionButton.back">
                                    <v-icon>keyboard_arrow_down</v-icon>
                                </v-btn>
                            </v-flex>
                            <v-flex xs1>
                                <v-btn id="right" fab @mouseup="this.onUp" @mousedown="this.onDown"
                                       :light="directionButton.right">
                                    <v-icon>keyboard_arrow_right</v-icon>
                                </v-btn>
                            </v-flex>

                            <v-flex xs1 offset-xs1>
                                <v-btn id="close_claw" fab @click="click">
                                    C
                                </v-btn>
                            </v-flex>

                            <v-flex xs1 offset-xs1>
                                <v-btn id="arm_close" fab @click="click">
                                    G
                                </v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout row justify-center>
                            <v-flex xs3 offset-xs1>
                                <v-card-text>
                                    <v-slider
                                            v-model="clawRotationPercentage"
                                            step="1"
                                            label="Rotate Claw"
                                            thumb-label
                                            thumb-color="black"
                                    ></v-slider>
                                </v-card-text>
                            </v-flex>

                            <v-flex xs3 offset-xs1>
                                <v-card-text>
                                    <v-slider
                                            v-model="firstArmPercentage"
                                            step="1"
                                            label="First Arm"
                                            thumb-label
                                            thumb-color="black"
                                    ></v-slider>
                                </v-card-text>
                            </v-flex>
                        </v-layout>
                        <v-layout row justify-center>
                            <v-flex xs3 offset-xs5>
                                <v-card-text>
                                    <v-slider
                                            v-model="secondArmPercentage"
                                            step="1"
                                            label="Second Arm"
                                            thumb-label
                                            thumb-color="black"
                                    ></v-slider>
                                </v-card-text>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-fade-transition>
    </div>
</template>

<script>
 import RobotList from './RobotList';

 export default {
  name: 'manual-control',
  components: {
   'robot-list': RobotList
  },

  data: () => ({
   lastCommand: 0,
   firstArmDefaults: false,
   secondArmDefaults: false,
   clawRotationDefaults: false,
   isAnyRobotOnControl: false,
   firstArmPercentage: 100,
   secondArmPercentage: 0,
   clawRotationPercentage: 50,
   videoImage: null,
   robots: [],
   robot: null,
   directionButton: {
    forward: false,
    back: false,
    left: false,
    right: false
   }
  }),

  mounted()
  {
   if(this.$root.robot)
   {
    this.cellClicked(this.$root.robot);
    this.$root.robot = null;
   }
   else
   {
    this.$socket.emit('robots:get');
   }
  },

  sockets: {
   'manual:control:response'(response)
   {
    if(!response.isInManualControl || response.robotID !== this.robot.id)
    {
     this.robot = null;
     return;
    }
    window.addEventListener('keydown', this.onDown);
    window.addEventListener('keyup', this.onUp);
    window.addEventListener('beforeunload', this.beforeUnload);
    this.isAnyRobotOnControl = true;
   },

   'robot:new_frame'(binaryImage)
   {
    this.videoImage = 'data:image/jpeg;base64,' + this.arrayBufferToBase64(binaryImage);
    // this.videoImage = 'data:image/jpeg;base64,' + binaryImage;
   }
  },

  beforeDestroy()
  {
   this.endManualMode();
  },

  watch: {
   firstArmPercentage()
   {
    if(this.firstArmDefaults)
    {
     this.firstArmDefaults = false;
     return;
    }
    this.userAction(9, this.firstArmPercentage);
   },

   secondArmPercentage()
   {
    if(this.secondArmDefaults)
    {
     this.secondArmDefaults = false;
     return;
    }
    this.userAction(10, this.secondArmPercentage);
   },

   clawRotationPercentage()
   {
    if(this.clawRotationDefaults)
    {
     this.clawRotationDefaults = false;
     return;
    }
    this.userAction(11, this.clawRotationPercentage);
   }
  },

  methods: {
   arrayBufferToBase64(buffer)
   {
    let binary = '';
    let bytes = new Uint8Array(buffer);
    let len = bytes.byteLength;
    for(let i = 0; i < len; i++)
    {
     binary += String.fromCharCode(bytes[i]);
    }
    return window.btoa(binary);
   },

   startManualMode(newRobot)
   {
    if(this.isAnyRobotOnControl)
    {
     if(this.robot && this.robot.id === newRobot.id)
     {
      return;
     }
     this.endManualMode();
    }
    this.robot = newRobot;
    this.manualControl(this.robot, true);
   },

   endManualMode()
   {
    this.isAnyRobotOnControl = false;
    window.removeEventListener('keydown', this.onDown);
    window.removeEventListener('keyup', this.onUp);
    window.removeEventListener('beforeunload', this.beforeUnload);
    if(this.robot)
    {
     this.manualControl(this.robot, false);
    }
    this.robot = null;
   },

   userAction(command, value)
   {
    if(this.$socket != null && this.$socket.connected)
    {
     this.$socket.emit('user:action', {command: command, commandValue: value});
    }
   },

   manualControl(robot, setManualControl)
   {
    if(this.$socket != null && this.$socket.connected)
    {
     this.$socket.emit('manual-control', robot.id, setManualControl);
    }
   },

   sendTheMove(command, value = 0)
   {
    if(this.lastCommand === command)
    {
     return false;
    }
    this.userAction(command, value);
    return true;
   },

   goForward(isPressed)
   {
    let command = isPressed ? 1 : 0;
    if(this.sendTheMove(command))
    {
     this.lastCommand = command;
     this.directionButton.forward = isPressed;
    }
   },

   goBack(isPressed)
   {
    let command = isPressed ? 2 : 0;
    if(this.sendTheMove(command))
    {
     this.lastCommand = command;
     this.directionButton.back = isPressed;
    }
   },

   goLeft(isPressed)
   {
    let command = isPressed ? 3 : 0;
    if(this.sendTheMove(command))
    {
     this.lastCommand = command;
     this.directionButton.left = isPressed;
    }
   },

   goRight(isPressed)
   {
    let command = isPressed ? 4 : 0;
    if(this.sendTheMove(command))
    {
     this.lastCommand = command;
     this.directionButton.right = isPressed;
    }
   },

   armOpen()
   {
    this.firstArmDefaults = true;
    this.secondArmDefaults = true;
    this.clawRotationDefaults = true;
    this.sendTheMove(5);
    this.firstArmPercentage = 3;
    this.secondArmPercentage = 97;
    this.clawRotationPercentage = 50;
   },

   armClose()
   {
    this.firstArmDefaults = true;
    this.secondArmDefaults = true;
    this.clawRotationDefaults = true;
    this.sendTheMove(6);
    this.firstArmPercentage = 100;
    this.secondArmPercentage = 0;
    this.clawRotationPercentage = 50;
   },

   //Events
   cellClicked(item)
   {
    this.startManualMode(item);
   },

   onDown(e)
   {
    if(this.isAnyRobotOnControl === false)
    {
     return;
    }

    if(e.type === 'mousedown')
    {
     switch(e.currentTarget.id)
     {
      case 'forward':
       this.goForward(true);
       break;
      case 'backward':
       this.goBack(true);
       break;
      case 'left':
       this.goLeft(true);
       break;
      case 'right':
       this.goRight(true);
       break;
      default:
     }
    }
    else if(e.type === 'keydown')
    {
     switch(e.key)
     {
      case 'w':
       this.goForward(true);
       break;
      case 's':
       this.goBack(true);
       break;
      case 'a':
       this.goLeft(true);
       break;
      case 'd':
       this.goRight(true);
       break;
      default:
     }
    }
   },

   onUp(e)
   {
    if(!this.isAnyRobotOnControl)
    {
     return;
    }

    if(e.type === 'mouseup')
    {
     switch(e.currentTarget.id)
     {
      case 'forward':
       this.goForward(false);
       break;
      case 'backward':
       this.goBack(false);
       break;
      case 'left':
       this.goLeft(false);
       break;
      case 'right':
       this.goRight(false);
       break;
     }
    }
    else if(e.type === 'keyup')
    {
     switch(e.key)
     {
      case 'w':
       this.goForward(false);
       break;
      case 's':
       this.goBack(false);
       break;
      case 'a':
       this.goLeft(false);
       break;
      case 'd':
       this.goRight(false);
       break;
      default:
     }
    }
   },

   click(e)
   {
    switch(e.currentTarget.id)
    {
     case 'arm_open':
      this.armOpen();
      break;
     case 'arm_close':
      this.armClose();
      break;
     case 'open_claw':
      this.sendTheMove(7);
      break;
     case 'close_claw':
      this.sendTheMove(8);
      break;
     default:
    }
   },

   beforeUnload(e)
   {
    this.endManualMode();
   }
  }
 };
</script>

<style scoped>
    #videoImage
    {
        max-height: 55vh;
    }

    #videoIcon
    {
        font-size: 25vh;
    }
</style>
