<template>
    <v-data-table
            :headers="headers"
            :items="robots"
            :pagination.sync="paginationSettings"
            :loading="loading"
    >
        <template slot="items" slot-scope="robotsSlot">
            <td class="text-xs-center">{{ robotsSlot.item.mac }}</td>
            <td class="text-xs-center">{{ robotsSlot.item.localIp }}</td>
            <td class="text-xs-center">
                <v-icon>{{ robotsSlot.item.inManualControl? 'done':'clear' }}</v-icon>
            </td>
            <td class="text-xs-center">
                <v-switch v-model="robotsSlot.item.state" @change="changeState(robotsSlot.item)"></v-switch>
            </td>
            <td class="text-xs-center">
                <drop-file :robot="robotsSlot.item"></drop-file>
            </td>
            <td class="text-xs-center">
                <slot name="control-robot" :robotItem="robotsSlot.item"></slot>
            </td>
        </template>

        <template slot="no-data" v-if="loading">
            <v-alert :value="robots.length === 0" color="table.color" icon="warning">{{ message }}</v-alert>
        </template>
    </v-data-table>
</template>

<script>
 import DropFile from './DropFile';

 export default {
  name: 'RobotList',
  components: {
   'drop-file': DropFile
  },
  data()
  {
   return {
    paginationSettings: {
     descending: false,
     page: 1,
     rowsPerPage: 10
    },
    loading: false,
    message: 'Loading robots',
    color: 'warning',
    headers: [
     {sortable: true, align: 'center', text: 'Mac', value: 'mac'},
     {sortable: true, align: 'center', text: 'IP Address', value: 'localIp'},
     {sortable: true, align: 'center', text: 'Is being controlled', value: 'inManualControl'},
     {sortable: true, align: 'center', text: 'State', value: 'state'},
     {sortable: true, align: 'center', text: 'target', value: 'target'},
     {sortable: true, align: 'center', text: 'Action', value: 'action'}
    ],
    robots: []
   };
  },
  sockets: {
   'robots:response'(response)
   {
    this.loading = false;
    if(!response)
    {
     this.message = 'Error loading robots';
    }
    if(response.code !== 200)
    {
     this.message = 'Server throws an error when load the robots';
    }
    this.robots = response.data;
   }
  },
  methods: {
   getRobots()
   {
    this.loading = true;
    this.$socket.emit('robots:get');
   },
   changeState(robot)
   {
    console.log('Changing state');
    this.$socket.emit('robot:changeState', {robot: robot});
   },
   newTarget(robotId, label)
   {
   }
  },
  mounted()
  {
   this.getRobots();
  }
 };
</script>
