<template>
    <v-container>
        <h1>CatchRobot, your new warehouse friend!</h1>
        <br>
        <v-card>
            <v-toolbar>
                <h3>Main objectives</h3>
            </v-toolbar>
            <v-list>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Automate cargo load and its movement'"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Smart object detection'"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Crash free movement'"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Manual capabilities with real time video'"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-card>
        <br>
        <v-card>
            <v-toolbar color="primary">
                <h3 class="black--text">Made by:</h3>
            </v-toolbar>
            <v-list>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Alexandre Frazão'"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="'2180235'"></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Ricardo Maltez'"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="'2180240'"></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="'Rúben Caceiro'"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="'2180242'"></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-card>
    </v-container>
</template>

<script>
</script>

<style scoped>
</style>
