<template>
    <div>
        <v-navigation-drawer fixed clipped app v-model="drawer" v-if="isAuthenticated">
            <v-list>
                <v-list-tile
                        v-for="(item) in this.menuItems"
                        :key="item.path"
                        :to="{path: item.path}">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar dark app clipped-left fixed>
            <v-toolbar-title
                    :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'"
                    class="ml-0 pl-3">
                <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="isAuthenticated"></v-toolbar-side-icon>
                <span class="hidden-xs-only">Catch Robot</span>
            </v-toolbar-title>
            <div class="d-flex align-center" style="margin-left: auto">
                <div v-if="!isAuthenticated">
                    <login></login>
                    <register @reload="refresh"></register>
                </div>
                <div v-else>
                    <v-btn flat @click="logout">Logout&nbsp;
                        <v-icon>exit_to_app</v-icon>
                    </v-btn>
                    <v-menu transition="slide-y-transition"
                            :open-on-click="hasNotifications"
                            offset-y>
                        <v-badge slot="activator" v-model="hasNewNotifications" overlap>
                            <span slot="badge">{{ newNotificationsNumber }}</span>
                            <v-btn icon @click="notificationClicked">
                                <v-icon>notifications</v-icon>
                            </v-btn>
                        </v-badge>

                        <v-list>
                            <v-list-tile
                                    v-for="(item, index) in notifications"
                                    :key="index"
                                    @click="deleteNotification(index)">
                                <v-list-tile-title>{{ item.message }}</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                    </v-menu>
                </div>
            </div>
        </v-toolbar>
    </div>
</template>

<script>
 import loginModal from "./auth/Login";
 import registerModal from "./auth/Register";

 export default {
  name: "NavBar",
  components: {
   login: loginModal,
   register: registerModal
  },
  data: () => ({
   drawer: true,
   menuItems: [],
   showLoginModal: false,
   showCreateAccountModal: false,
   notifications:[],
   showNotification:false
  }),
  props: {
   source: String,
   isAuthenticated: Boolean
  },
  sockets: {
   'notification'(message){
    this.notifications.push({isNew:true,message:message});
   }
  },
  created() {
   this.menuItems = this.$router.options.routes;
  },
  mounted() {},
  computed: {
   hasNotifications(){
    return this.notifications.length>0;
   },
   hasNewNotifications(){
    return this.notifications.some((element)=>{
     return element.isNew;
    })
   },
   newNotificationsNumber(){
    return this.notifications.filter((element)=>{
     return element.isNew;
    }).length;
   }
  },
  methods: {
   refresh() {
    this.$forceUpdate();
   },
   logout() {
    localStorage.removeItem("auth:token");
    this.$router.push('/');
    this.$socket.emit("auth:user:logout");
    this.$root.isAuthenticated = false;
    this.refresh();
   },
   notificationClicked(){
    this.notifications.forEach((element)=>{
     if(element.isNew)
     {
      element.isNew=false;
     }
    });
   },
   deleteNotification(index)
   {
    this.notifications.splice(index,1);
   }
  }
 };
</script>

<style scoped>
</style>