<template>
    <v-dialog v-model="show" width="1000" dark persistent>
        <v-btn flat slot="activator">Login</v-btn>
        <v-card>
            <v-card-title primary-title>
                <div class="headline">Login</div>
            </v-card-title>
            <v-card-text>
                <v-form v-model="isValid" ref="form">
                    <v-text-field v-model="email" :rules="emailRules" label="E-mail" type="email" required></v-text-field>
                    <v-text-field
                        v-model="password"
                        :rules="passwordRules"
                        label="Password"
                        type="password"
                        required
                    ></v-text-field>
                    <v-btn :disabled="!isValid" @click="submit">Submit</v-btn>
                    <v-btn @click="clearAndClose">Cancel</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
export default {
    name: "UserLogin",
    data() {
        return {
            isValid: false,
            email: "",
            emailRules: [
                v => !!v || "E-mail is required",
                v => /.+@.+/.test(v) || "Invalid email"
            ],
            password: "",
            passwordRules: [v => !!v || "Password is required"],
            show: false
        };
    },
    sockets: {
        "auth:user:login:response": function(response) {
            if (response.code == 200) {
                localStorage.setItem("auth:token", response.data.token.token);
                this.$root.isAuthenticated = true;
                this.clearAndClose();
                this.$router.push("dashboard");
            } else {
                console.log("Error logging in");
            }
        }
    },
    methods: {
        submit() {
            if (this.$refs.form.validate()) {
                this.$socket.emit("auth:user:login", {
                    email: this.email,
                    password: this.password
                });
            }
        },
        clearAndClose() {
            this.show = false;
            this.$refs.form.reset();
        }
    }
};
</script>

<style scoped>
</style>
