<template>
    <v-dialog v-model="show" width="1000" dark persistent>
        <v-btn flat slot="activator">Create account</v-btn>
        <v-card>
            <v-card-title primary-title>
                <div class="headline">New Account</div>
            </v-card-title>
            <v-card-text>
                <v-form v-model="isValid" ref="form">
                    <v-text-field
                        v-model="newUser.email"
                        :rules="emailRules"
                        label="E-mail"
                        required
                    ></v-text-field>
                    <v-text-field
                        v-model="newUser.password"
                        :rules="passwordRules"
                        label="Password"
                        type="password"
                        required
                    ></v-text-field>
                    <v-text-field
                        :rules="passwordConfirmationRules"
                        v-model="passwordConfirmation"
                        label="Password confirmation"
                        type="password"
                    ></v-text-field>
                    <v-text-field v-model="newUser.company" label="Company name" required></v-text-field>
                    <v-btn :disabled="!isValid" @click="submit">Submit</v-btn>
                    <v-btn @click="clearAndClose">Cancel</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
export default {
    name: "AccountRegistation",
    data() {
        return {
            newUser: {
                email: "",
                password: "",
                company: ""
            },
            isValid: false,

            emailRules: [
                v => !!v || "E-mail is required",
                v => /.+@.+/.test(v) || "Invalid email"
            ],
            passwordConfirmation: "",
            passwordConfirmationRules: [
                v => !!v || "Password is required"
            ],
            passwordRules: [
                v => !!v || "Password is required",
                v =>
                    (v && v.length >= 8) ||
                    "Password must have at least 8 characters"
            ],
            show: false
        };
    },
    sockets: {
        "user:create:response": function(response) {
            // TODO: Flash this message to top?
            if (response.code == 200) {
                console.log("Account created with success");
                localStorage.setItem("auth:token", response.data.token.token);
                this.$root.isAuthenticated = true;
                this.$router.push("dashboard");

                this.clearAndClose();
            } else {
                console.log("Error creating account");
            }
        }
    },
    methods: {
        passwordMatchError() {
            return this.newUser.password == this.passwordConfirmation
                ? ""
                : "Passwords must match";
        },
        submit() {
            if (this.$refs.form.validate()) {
                this.$socket.emit("user:create", this.newUser);
            }
        },
        clearAndClose() {
            this.show = false;
            this.$refs.form.reset();
        }
    }
};
</script>

<style scoped>
</style>
